<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-[100vw] h-[100px] bg-gray-700 flex justify-center items-center">
        <div class="w-[200px] h-[50%] flex items-center justify-center bg-cyan-500 rounded-full cursor-pointer">
            <a href="/me/my-article" class="text-white">My article</a>
        </div>
    </div>

  </body>
</html>